Assets/Editor Default Resources
Assets/Editor Default Resources.meta
Assets/ExternalDependencyManager
Assets/ExternalDependencyManager.meta
Assets/Firebase
Assets/Firebase.meta
Assets/Parse
Assets/Parse.meta
Assets/Plugins/Android
Assets/Plugins/Android.meta
Assets/Plugins/iOS
Assets/Plugins/iOS.meta
Assets/StreamingAssets
Assets/StreamingAssets.meta
Assets/google-services.json
Assets/google-services.json.meta
Assets/GoogleService-Info.plist
Assets/GoogleService-Info.plist.meta
ProjectSettings/AndroidResolverDependencies.xml
ProjectSettings/GvhProjectSettings.xml

.vs/
.vsconfig
*.csproj
*.sln

iOS
*.apk
Library
obj
Temp
Logs
Assets/.DS_Store
.DS_Store
